---
import { Image } from "astro:assets";

import SocialIcons from "./SocialIcons.astro";

const { fullName, title, institute, profilePicture } = Astro.props;
---

<div class="flex-1">
  <h1 class="mb-4 text-4xl font-bold">
    Welcome! I'm <span class="text-secondary">{fullName}</span>
  </h1>
  <p class="mb-4 text-xl text-gray-600">
    {title}{institute ? ` at ${institute}` : ""}
  </p>
  <p class="mb-6 text-lg">
    My name is Igor Sosa Mayor. I hold a doctorate in Linguistics from the
    University of Erlangen-Nürnberg and a doctorate in History from the European
    Institute Universitario in Florence. My areas of interest include global
    transformations in religions in the early modern period. In addition, I have
    extensive knowledge of digital humanities methods (GIS, LLMs, etc.).
  </p>
  <div class="flex gap-4">
    <SocialIcons />
  </div>
</div>
<div class="hidden size-72 lg:block">
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class="mask mask-squircle size-88 h-full w-full"
  />
</div>
